<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>LOGIN|FORM</title>
  </head>
  <body>
  	<div class="container col-lg-5 py-5 px-5 ">
    <form action='login/' class="form-control px-5 py-5 " id="form" enctype="multipart/form-data">
    	
    	{%csrf_token%}
    	<input type="text" class="form-control m-2" id='usern' name="username" placeholder="Username">
    	<input type="password" class="form-control m-2" id="passw" name="password" placeholder="Password">
    	<input type="file" class="form-control m-2" id="images" name="image" placeholder="Profile Photo">
    	<input type='submit' value="Login" class=" m-2 form-control btn btn-primary" name="submit">

    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
	form.onsubmit = async (e) => {
    e.preventDefault();

    let response = await fetch('login/', {
      method: 'POST',
      body: new FormData(form)
    });

    let result = await response.text();
	if(result!="")
    {alert(result);}
  };



	
    	
    </script>

  </body>
</html>